<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PRODUCTO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index">Pagina Web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leer-producto">Ver Productos</a>
            </li>
        </ul>
        <div class="d-flex">
            <a class="nav-link" type="button" href="#" (click)="cerrarSesion($event)">CERRAR SESION</a>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm">
            <h2>CREAR PRODUCTO</h2>
            <hr>
            <div class="form-group row">
                <label for="contrasena" class="col-sm-3 col-form-label">Nombre:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="producto.nombre" oninput="this.value = this.value.toUpperCase()"
                        class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="contrasena" class="col-sm-3 col-form-label">Descripcion:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="producto.descripcion"
                        oninput="this.value = this.value.toUpperCase()" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="contrasena" class="col-sm-3 col-form-label">Material:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="producto.material" oninput="this.value = this.value.toUpperCase()"
                        class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="contrasena" class="col-sm-3 col-form-label">Marca:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="producto.marca" oninput="this.value = this.value.toUpperCase()"
                        class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="contrasena" class="col-sm-3 col-form-label">Estilo:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="producto.estilo" oninput="this.value = this.value.toUpperCase()"
                        class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="contrasena" class="col-sm-3 col-form-label">Tipo:</label>
                <div class="col-sm-9">
                    <select class="form-control form-control-sm" [(ngModel)]="producto.tipo">
                        <option value="ZAPATOS">ZAPATOS</option>
                        <option value="BOLSOS">BOLSOS</option>
                        <option value="TRAJES DEPORTIVOS">TRAJES DEPORTIVOS</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="contrasena" class="col-sm-3 col-form-label">Precio:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="producto.precio" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Garantia:</label>
                <div class="col-sm-9">
                    <input type="text" [(ngModel)]="producto.garantia" oninput="this.value = this.value.toUpperCase()"
                        class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Talla:</label>
                <div class="col-sm-4">
                    <select [(ngModel)]="tallaForm" class="form-control form-control-sm">
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                        <option>32</option>
                        <option>33</option>
                        <option>34</option>
                        <option>35</option>
                        <option>36</option>
                        <option>37</option>
                        <option>38</option>
                        <option>39</option>
                        <option>40</option>
                        <option>41</option>
                        <option>42</option>
                        <option>43</option>
                    </select>
                </div>
                <br>
                <div class="col-sm-2">
                    <button (click)="crearTalla()" class="btn btn-sm btn-block btn-primary">Agregar Talla</button>
                </div>
                <br>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="tallasForm" class="form-control form-control-sm" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Colores:</label>
                <div class="col-sm-4">
                    <select [(ngModel)]="colorForm" class="form-control form-control-sm">
                        <option>ROJO</option>
                        <option>BLANCO</option>
                        <option>NEGRO</option>
                        <option>VERDE</option>
                        <option>AZUL OSCURO</option>
                        <option>GRIS</option>
                        <option>BEIGE</option>
                    </select>
                </div>
                <br>
                <div class="col-sm-2">
                    <button (click)="crearColor()" class="btn btn-sm btn-block btn-primary">Agregar Color</button>
                </div>
                <br>
                <div class="col-sm-3">
                    <input type="text" [(ngModel)]="coloresForm" class="form-control form-control-sm" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Imagenes:</label>
                <div class="col-sm-9">
                    <input type="file" id="imagen" name="imagen" (change)="cargarImagen($event)" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm">
                    <button class="btn btn-sm btn-block btn-success" (click)="crear()">Crear</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a
                            href="../../getting-started/">getting started guide</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</div>