<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PRODUCTO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index">Pagina Web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leer-producto">Ver Productos</a>
            </li>
        </ul>
        <div class="d-flex">
            <a class="nav-link" type="button" href="#" (click)="cerrarSesion($event)">CERRAR SESION</a>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm">
            <h2 class="font-weight-bold" align="center">CREAR PRODUCTO</h2>
            <hr>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Nombre:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="producto.nombre" oninput="this.value = this.value.toUpperCase()"
                            class="form-control form-control-sm">
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Descripcion:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="producto.descripcion"
                            oninput="this.value = this.value.toUpperCase()" class="form-control form-control-sm">
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Material:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="producto.material"
                            oninput="this.value = this.value.toUpperCase()" class="form-control form-control-sm">
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Marca:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <select class="form-control form-control-sm" [(ngModel)]="producto.marca">
                            <option value="ADIDAS">REBOOK</option>
                            <option value="NIKE">NIKE</option>
                            <option value="REBOOK">ADIDAS</option>
                            <option value="LACOSTE">LACOSTE</option>
                        </select>
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Estilo:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <select class="form-control form-control-sm" [(ngModel)]="producto.estilo">
                            <option value="TENIS">TENIS</option>
                            <option value="ZAPATILLA">ZAPATILLA</option>
                            <option value="SANDALIA">SANDALIA</option>
                        </select>
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Tipo:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <select class="form-control form-control-sm" [(ngModel)]="producto.tipo">
                            <option value="ZAPATOS">ZAPATOS</option>
                            <option value="BOLSOS">BOLSOS</option>
                            <option value="TRAJES DEPORTIVOS">TRAJES DEPORTIVOS</option>
                        </select>
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Precio:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" [(ngModel)]="producto.precio" class="form-control form-control-sm">
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Garantia:</label>
                <div class="col-sm-9">
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" [(ngModel)]="producto.garantia" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text font-weight-bold">MESES</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Talla:</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <select [(ngModel)]="tallaForm" class="form-control form-control-sm">
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>
                            <option>40</option>
                            <option>41</option>
                            <option>42</option>
                            <option>43</option>
                        </select>
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
                <br>
                <div class="col-sm-4">
                    <button (click)="crearTalla()" class="btn btn-sm btn-block btn-primary">Agregar Talla</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm">
                    <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                        <thead class="table-active">
                            <tr>
                                <th>No.</th>
                                <th>TALLA</th>
                                <th>OPC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let talla of this.producto.tallas; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{talla.descripcion}}</td>
                                <td>
                                    <button (click)="eliminarTalla(i)" class="btn btn-primary form-control-sm"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Colores:</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <select [(ngModel)]="colorForm" class="form-control form-control-sm">
                            <option>ROJO</option>
                            <option>BLANCO</option>
                            <option>NEGRO</option>
                            <option>VERDE</option>
                            <option>AZUL OSCURO</option>
                            <option>GRIS</option>
                            <option>BEIGE</option>
                        </select>
                        <div class="input-group-text"><i class="fa fa-tumblr"></i></div>
                    </div>
                </div>
                <br>
                <div class="col-sm-4">
                    <button (click)="crearColor()" class="btn btn-sm btn-block btn-primary">Agregar Color</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm">
                    <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                        <thead class="table-active">
                            <tr>
                                <th>No.</th>
                                <th>COLOR</th>
                                <th>OPC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let color of producto.colores; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{color.descripcion}}</td>
                                <td>
                                    <button (click)="eliminarColor(i)" class="btn btn-primary form-control-sm"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Imagenes:</label>
                <div class="col-sm-9">
                    <input type="file" id="imagen" name="imagen" (change)="cargarImagen($event)" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm">
                    <button class="btn btn-sm btn-block btn-success" (click)="crear()">Crear</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a
                            href="../../getting-started/">getting started guide</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</div>