<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TUS PEDIDOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index">Pagina Web</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resumen-pedido">Ver Pedido</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm" align="center">
            <h2>TUS PEDIDOS</h2>
            <hr>
        </div>
    </div>
    <br>
    <ng-container *ngFor="let pedido of pedidos; let i=index">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="alert alert-primary form-row" role="alert">
                    <label align="center" class="col-sm-2 col-form-label font-weight-bold">Fecha Pedido</label>
                    <div class="col-sm-2">
                        <input type="text" value="{{pedido.fecha | DateShortPipe}}" [disabled]="true"
                            class="form-control form-control-sm">
                    </div>
                    <label align="center" class="col-sm-1 col-form-label font-weight-bold">Confirmado</label>
                    <div class="col-sm-1">
                        <input type="checkbox" [(ngModel)]="pedido.confirmar" [disabled]="true"
                            class="form-control form-control-sm">
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-sm btn-block btn-success" (click)="verQr(i)">VER QR</button>
                    </div>
                    <label align="center" class="col-sm-1 col-form-label font-weight-bold">Entrega</label>
                    <div class="col-sm-2">
                        <input type="text" value="{{pedido.fechaEntrega}}" [disabled]="true"
                            class="form-control form-control-sm">
                    </div>
                    <label align="center" class="col-sm-1 col-form-label font-weight-bold">Enviado</label>
                    <div class="col-sm-1">
                        <input type="checkbox" [(ngModel)]="pedido.enviado" [disabled]="true"
                            class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 table-responsive">
                <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                    <thead>
                        <tr>
                            <th scope="col">MARCA</th>
                            <th scope="col">TALLA</th>
                            <th scope="col">COLOR</th>
                            <th scope="col">VALOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lineaPedido of pedido.lineasPedido">
                            <td>{{lineaPedido.producto.marca}}</td>
                            <td>{{lineaPedido.talla.descripcion}}</td>
                            <td>{{lineaPedido.color.descripcion}}</td>
                            <td>{{lineaPedido.producto.precio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <ng-container *ngIf="pedido.total!=0">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="alert alert-success" role="alert">
                        EL TOTAL DEL PEDIDO ES DE : $ {{pedido.total}}
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </ng-container>
    </ng-container>
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p>Ciudad Victoria Tienda Virtual. Todos los derechos reservados 2021.</p>
                    <p>Instagram Ciudad Victoria <a href="../../">Visitala!</a> o haznos una pregunta a <a
                            href="../../getting-started/">Contactenos</a>.</p>
                </div>
            </footer>
        </div>
    </div>
</div>

<ng-template #modalVerQr let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">VER QR</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="pedidoActualizar.qr!=''">
            <div class="row">
                <div class="col-sm">
                    <img class="card-img-top" height="400px" src="{{prefijoUrlImagenes+pedidoActualizar.qr}}"
                        alt="Imagen QR">
                    <div class="card-body">
                        <h2 class="card-title" align="center">QR DE PAGO BANCOLOMBIA</h2>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="pedidoActualizar.qr==''">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="alert alert-warnning" role="alert">
                        NO EXISTE QR DE PAGO BANCOLOMBIA
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
    </div>
</ng-template>