<div class="contenedor">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">VER RESUMEN PEDIDO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Pagina Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leer-pedido-cliente">Tus Pedidos</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-sm" align="center">
            <h2>RESUMEN PEDIDO</h2>
            <hr>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 table-responsive">
            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                <thead>
                    <tr>
                        <th scope="col">MARCA</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">TALLA</th>
                        <th scope="col">COLOR</th>
                        <th scope="col">VALOR</th>
                        <th scope="col">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lineaPedido of pedido.lineasPedido; let i=index">
                        <td>{{lineaPedido.producto.marca}}</td>
                        <td>{{lineaPedido.cantidad}}</td>
                        <td>{{lineaPedido.talla.descripcion}}</td>
                        <td>{{lineaPedido.color.descripcion}}</td>
                        <td>{{lineaPedido.producto.precio}}</td>
                        <td>
                            <button type="button" (click)="eliminarLineaPedido(i)" [disabled]="pedido.confirmar" class="btn btn-sm btn-primary separate">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <ng-container *ngIf="pedido.total!=0">
                <div class="alert alert-success" role="alert">
                    EL TOTAL DEL PEDIDO ES DE : $ {{pedido.total}}
                </div>
            </ng-container>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    <ng-container *ngIf="habilitarConfirmarPedido">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <label class="font-weight-bold">Celular:</label>
            </div>
            <div class="col-sm-7">
                <div class="input-group input-group-sm">
                    <div class="input-group-append">
                        <span class="input-group-text font-weight-bold">+57</span>
                    </div>
                    <input type="text" [(ngModel)]="pedido.cliente.celular" [disabled]="pedido.confirmar"
                        oninput="this.value = this.value.toUpperCase()" class="form-control form-control-sm">
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </ng-container>
    <br>
    <br>
    <ng-container *ngIf="habilitarConfirmarPedido">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <button (click)="confirmarPedido()" class="btn btn-sm btn-success btn-block" [disabled]="pedido.confirmar">Confirmar Pedido</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </ng-container>
</div>