<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="imagen-fondo-principal">
            <h1>CIUDAD VICTORIA</h1>
            <div class="panel-detalle-producto">
            <div class="panel-heading">
                <span class="panel-title">ZAPATO</span>
            </div>
            <div class="panel-body">
                <div class="container-info">
                    <div class="info-producto">
                        <ul>
                        <!--<img src="assets/zapato1.jpeg" width="300px" height="300px"/>-->
                        <li><label>Precio:&nbsp;</label>120.000</li>
                        <li><label>Unidades Disponibles:&nbsp;</label>5</li>
                        </ul>
                    </div>
                    <div class="info-producto">
                        <ul>
                        <!--<img src="assets/zapato2.jpeg" width="300px" height="300px"/>-->
                        <li><label>Precio:&nbsp;</label>150.000</li>
                        <li><label>Unidades Disponibles:&nbsp;</label>8</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
