.separate{
    margin-right: 10px;
}
.badge-color-NEGRO {
    background-color: black;  
}
.badge-color-ROJO {
    background-color: red;  
}
.badge-color-BLANCO {
    background-color: white;  
}
.badge-color-AZUL {
    background-color: darkblue;  
}
.badge-color-GRIS {
    background-color: gray;  
}
.badge-color-BEIGE {
    background-color: beige;  
}
.badge-color-VERDE {
    background-color: green;  
}
.badge-color-AMARILLO {
    background-color: yellow;  
}
.badge-color-NARANJA {
    background-color: orange;  
}
.badge-color-CAFE {
    background-color: brown;  
}
.badge-color-DORADO {
    background-color: gold;  
}
.badge-color-PLATEADO {
    background-color: silver;  
}
.badge-color-AGUAMARINA {
    background-color: aquamarine;  
}
.badge-color-ROSADO {
    background-color: pink;  
}
.badge-color-MORADO {
    background-color: purple;  
}
.badge-color-FUCSIA {
    background-color: fuchsia;  
}
.badge-color-VERDEFOSFORECENTE {
    background-color: forestgreen;  
}
.badge-color-CIELO {
    background-color: aqua;  
}
.badge-color-CHOCOLATE {
    background-color: chocolate;  
}
.badge-color-SALMON {
    background-color: darksalmon;  
}


  